extends base.pug


block head
    // includ account related files
    include includes/account_head.pug
    block title
        title #{title} | Scrapbook

block content
    h1(class='page-header') Welcome aboard
