doctype html
html
    block head
        meta(name='viewport', content='width=device-width, initial-scale=1.0,user-scalable=0')
        meta(charset='utf-8')
        block title
            title Title
        include includes/bootstrap_head.pug
    body
        // this is application header
        block header
            include includes/header.pug
        block content

        // this is application footer
        block footer
            include includes/footer.pug
