// bootstrap already included
// include font
link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Muli')
// application base style
link(rel='stylesheet', href='/res/css/basestyle.css')
// font-awesome base style
link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
// angular js
script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.9/angular.min.js')
