section(class='application-header', id='application-header')
    section(class='header container-fluid')
        img(src='/res/img/photo.png', height='30', alt='logo')
        section(class='user-menu pull-right')
            input(type='text', class='search-box', placeholder='Search')
            img(src='/res/img/profile.png', class='img-circle', height='30', alt='photo')
br
br
br
