<!DOCTYPE html>
<html ng-app='accountModule'>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <title>Gaurav Sharma</title>

        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


        <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet" />
        <link type='text/css' href='/res/css/basestyle.css' rel='stylesheet' />
        <link type='text/css' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet'/>
        <!--angular js include-->
        <script src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.9/angular.min.js' type='text/javascript'></script>

        <!-- React files -->
        <!--<script src="/res/js/react.min.js"></script>
        <script src="/res/js/react-dom.min.js"></script>
        <script src="/res/js/browser.min.js" type='text/javascript'></script>-->

        <style type='text/css'>
            body {
                background: #f2efe8;
            }
        </style>

        <script type='text/javascript' src='/res/js/account_module.js'></script>
    </head>
    <body>
        <section class='application-header' id='application-header'>
            <section class='header container-fluid'>
                <img src='/res/img/photo.png' height='30' alt='logo'/>
                <section class='user-menu pull-right'>
                        <input type='text'  class='search-box' placeholder='Search'/>
                        <img src='/res/img/profile.png' class='img-circle' height='30' alt='photo'/>
                </section>
            </section>
        </section>
        <br/>
        <br/>
        <section class='body'>
            <section class='container-fluid'>
                <section class='col-md-2'>
                </section>
                <section class='col-md-7'>
                    <br/>
                    <br/>
                    <section class='action-container text-center'>
                        <button onclick='showPhotoPostModal()' class='hor-nav-btn'><i class="fa fa-camera" aria-hidden="true"></i></button>
                        <button onclick='showPostModal()' class='hor-nav-btn'><i class="fa fa-share-alt" aria-hidden="true"></i></button>
                        <button class='hor-nav-btn'><i class="fa fa-video-camera" aria-hidden="true"></i></button>
                        <button class='hor-nav-btn'><i class="fa fa-envelope" aria-hidden="true"></i></button>
                        <button class='hor-nav-btn hor-nav-btn-last'><i class="fa fa-star" aria-hidden="true"></i></button>
                    </section>

                    <br/>
                    <br/>

                    <section class='feeds-container'>
                        <p class='text-center' ng-controller='AccountPostsController'>
                            {{loadFeeds()}}
                            Aw. Snap <i style='color:#ff7181; font-size: 30px;' class="fa fa-times" aria-hidden="true"></i>
                            <br/>Welcome gaurav, Found no feeds for you. Please follow some people first.
                        </p>
                    </section>
                </section>
                <br/>
                <section class='col-md-3'>
                    <section class='right-sb'>
                        <p class='right-sb-heading'>TRENDING AROUND YOU</p><hr/>
                        <ul class='trending-list'>
                            <li><a href>#DemonetizationInIndia</a></li>
                            <li><a href>#showYourRage</a></li>
                            <li><a href>#iitkMicrosoft</a></li>
                            <li><a href>#happyHipster</a></li>
                            <li><a href>#BestPhotos2k16</a></li>
                            <li><a href>#mothers_camera</a></li>
                            <li><a href>#NatGeo_NYShots</a></li>
                        </ul>
                    </section>
                    <br/>
                    <section class='right-sb-follow'>
                        <p class='right-sb-heading'>PEOPLE TO FOLLOW&nbsp; <a style='font-size: 12px;' href class='hyperlink pull-right'>MORE</a></p><hr/>
                        <ul class='trending-list'>
                            <li>
                                <section class='follow-item'>
                                    <img src='http://localhost:3000/res/img/mark.jpeg' class='img-circle follow-pic' width=30 height=30 alt='photo'/>
                                    <section class='follow-item-desc-container'>
                                        <b class='follow-item-name'>Mark Wahlberg</b><br/>
                                        Actor/Director
                                        <button class='follow-btn pull-right'><i class="fa fa-star" aria-hidden="true"></i></button>
                                    </section>
                                </section>
                            </li>
                            <li>
                                <section class='follow-item'>
                                    <img src='http://localhost:3000/res/img/ww.jpeg' class='img-circle follow-pic' width=30 height=30 alt='photo'/>
                                    <section class='follow-item-desc-container'>
                                        <b class='follow-item-name'>Walter White</b><br/>
                                        Breaking Bad fictional character
                                        <button class='follow-btn pull-right'><i class="fa fa-star" aria-hidden="true"></i></button>
                                    </section>
                                </section>
                            </li>
                            <li>
                                <section class='follow-item'>
                                    <img src='http://localhost:3000/res/img/helloworld.jpeg' class='img-circle follow-pic' width=30 height=30 alt='photo'/>
                                    <section class='follow-item-desc-container'>
                                        <b class='follow-item-name'>HelloWorld</b><br/>
                                        Developer world
                                        <button class='follow-btn pull-right'><i class="fa fa-star" aria-hidden="true"></i></button>
                                    </section>
                                </section>
                            </li>
                            <li>
                                <section class='follow-item'>
                                    <img src='http://localhost:3000/res/img/profile.png' class='img-circle follow-pic' width=30 height=30 alt='photo'/>
                                    <section class='follow-item-desc-container'>
                                        <b class='follow-item-name'>Anuj Dhiman</b><br/>
                                        Graphics Desginer
                                        <button class='follow-btn pull-right'><i class="fa fa-star" aria-hidden="true"></i></button>
                                    </section>
                                </section>
                            </li>
                        </ul>
                    </section>
                </section>

            </section>
        </section>

        <section class='application-footer' id='application-footer'></section>

        <!-- Image post modal -->
        <section id='pic-post-modal'>
            <div class="modal fade" id='newImagePostModal' tabindex="-1" role="dialog">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Write a new Picture Post</h4>
                  </div>
                  <div class="modal-body">
                      <textarea class='write-feed-area' placeholder="What you are upto?"></textarea><br/>
                      <button class='btn btn-default btn-sm'><i class='fa fa-camera'></i></button>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success">Post</button>
                  </div>
                </div>
              </div>
          </div>
        </section>
        <section id='post-modal'>
            <div class="modal fade" id='newPostModal' tabindex="-1" role="dialog">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Write a new Post</h4>
                  </div>
                  <div class="modal-body">
                      <textarea class='write-feed-area' placeholder="What you are upto?"></textarea><br/>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success">Post</button>
                  </div>
                </div>
              </div>
          </div>
        </section>
    </body>
</html>
