<!DOCTYPE html>
<html ng-app='loginModule'>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <title>Scrapbook - Login</title>

        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.9/angular.min.js' type='text/javascript'></script>

        <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet" />
        <link type='text/css' href='/res/css/basestyle.css' rel='stylesheet' />
        <link type='text/css' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet'/>

        <style type='text/css'>

            .form-container {
                border: solid 1px silver;
                border-radius: 5px;
                padding: 30px;
                margin-top: 50%;
            }
            .login-error {
                color: red;
                display: none;
            }

        </style>

        <script type='text/javascript'>
            var loginApp = angular.module ('loginModule', []);
            loginApp.controller ('LoginController', ['$scope', '$http', function ($scope, $http) {

                $scope.authenticate = function () {
                    var payload = {
                        "username" :$('.uname').val(),
                        "password" :$('.upass').val()
                    };
                    $http({
                        method: 'POST',
                        url: 'http://localhost:3000/api/auth',
                        headers: {'Content-Type': 'application/json'},
                        data: payload
                    }).then (function (data) {
                        // success
                        if (data.data.status == "success" && data.data.message == 'authenticated') {
                            window.location.href = '/account?token='+ data.data.token
                        } else {
                            console.log (data.data);
                            $('.login-error').css('display', 'block');
                            $('.form-container').animate ({
                                marginLeft: "+10px"
                            }, 100, function() {
                                $('.form-container').animate ({
                                    marginLeft: "-20px"
                                }, 100, function() {
                                    $('.form-container').animate ({
                                        marginLeft: "+20px"
                                    }, 100, function() {
                                        $('.form-container').animate ({
                                            marginLeft: "-20px"
                                        }, 100, function() {
                                            $('.form-container').animate ({
                                                marginLeft: "+10px"
                                            }, 100, function() {

                                            });
                                        });
                                    });
                                });
                            });
                        }
                    }, function (data) {
                        // error
                        console.log (data.data);
                    });
                };
            }]);

            var signUpClick = function () {
                console.log ('showing signup modal');
            };

        </script>
    </head>

    <body>
        <section class='application-header' id='application-header'>
            <section class='header container-fluid'>
                <img src='/res/img/photo.png' height='30' alt='logo'/>
            </section>
        </section>
        <section class='container text-center' ng-controller='LoginController'>
            <section class='row'>
                <section class='col-md-4'></section>
                <section class='col-md-4'>
                    <section class='form-container'>
                        <h2 class='text-center'>Login to scrapbook</h2>
                        <section>
                            <input type='text'  class='form-control form-sm uname'
                                placeholder='Enter username'/><br/>
                            <input type='password' class='form-control form-sm upass'
                                placeholder='Enter password'/><br/>
                            <button class='btn btn-primary' ng-click='authenticate()'>Login</button>
                        </section>
                        <br/>
                        <p>Not a member yet? <button onclick='signUpClick()' class='btn btn-link btn-sm'>Click here to sign up</button></p>
                        <p class='login-error'>Username or password error</p>
                    </section>
                </section>
                <section class='col-md-4'></section>
            </section>
        </section>

        <section class='application-footer'></section>
    </body>
</html>
