*{
    padding: 0;
    margin: 0;
    font-family: 'Muli'
}
.header {
    position: fixed;
    width: 100%;
    background: #fffcf5;
    border-bottom: solid 1px #f0f0f0;
    padding: 10px;
    z-index: 999;
}
.body {

}
.user-menu {
}
.user-image {
    border-radius: 100px;
}

.app-btn {
    background: none;
}
.search-box {
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    width: 200px;
    margin-right: 10px;
    border-radius: 100px;
    background: #fff;
    border: solid 1px #f0f0f0;
}


.action-container {
    padding: 10px;
    background: #fffcf5;
    border: solid 1px #f0f0f0;
    border-radius: 5px;
}
.hor-nav-btn {
    background: none;
    border: none;
    font-size: 20px;
    width: 100px;
    color: #383838;
    opacity: 0.5;
    border-right: solid 1px #9b9788;
    transition: all .25s ease-in-out;
}
.hor-nav-btn-last {
    border-right: none;
}
.hor-nav-btn:hover {
    opacity: 0.7;
}
.right-sb {
    background: #fffcf5;
    border: solid 1px #f0f0f0;
    border-radius: 10px;
    padding: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.right-sb-heading {
    color: #9b9788;
}
.trending-list {
    list-style: none;
}
.trending-list > li > a {
    color: #8ac0ff;
}

.right-sb-follow {
    background: #fffcf5;
    border: solid 1px #f0f0f0;
    border-radius: 10px;
    padding: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.right-sb-heading {
    color: #9b9788;
}
.trending-list {
    list-style: none;
}
.trending-list > li {
    padding: 5px;
}
.trending-list > li > a , .hyperlink{
    color: #8ac0ff;
}
.follow-item {
    position: relative;
    padding: 5px;
}
.follow-pic {
    position: absolute;
    margin-top: 3px;
}
.follow-item-desc-container {
    margin-left: 35px;
    color: #383838;
    opacity: 0.5;
    font-size: 12px;
}
.follow-item-desc-container b {
    font-size: 14px;
    opacity: 0.8;
}
.follow-btn {
    position: absolute;
    right: 0;
    border: solid 1px #9b9788;
    top: 0;
    margin-top: 5px;
    background: #fff;
    color: #9b9788;
    border-radius: 100px;
    padding: 5px;
    opacity: 1;
}
.feeds-container {
    padding: 10px;
    background: #fffcf5;
    border: solid 1px #f0f0f0;
    border-radius: 3px;
}

/*modal*/

.write-feed-area {
    border: solid 1px #f0f0f0;
    padding: 10px;
    width: 100%;
    border-radius: 3px;
    resize: none;
}
